
{% include "header.html" %}

<body>
<br>
    <h1 style="text-align:center"><b>☕ List of cafes ☕</b></h1>
    <div class="container">
        <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Cafe Name</th>
          <th scope="col">Coffee</th>
          <th scope="col">Wifi</th>
            <th scope="col">Socket</th>
            <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
      {% for cafe in cafes %}
        <tr>
          <th scope="row">{{loop.index}}</th>
            <td>{{cafe.cafe_name|capitalize}}</td>
          <td>{{cafe.coffee}}</td>
          <td>{{cafe.wifi}}</td>
            <td>{{cafe.socket}}</td>
            <td><a href="{{cafe.location}}" class="btn btn-secondary">link</a></td>
            <td><a href="{{url_for('delete', id=cafe.id) }}" class="btn btn-danger">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
        </table>
    </div>

    <div style="text-align:center">
        <a href="{{url_for('add_cafe')}}" class="btn btn-outline-light" style="margin-right:20px"> Add Cafe </a>
        <a href="{{url_for('home')}}" class="btn btn-outline-success"> Home </a>
    </div>

{% include "footer.html" %}